.register-container-outer {
    width: 90%;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1600px;
    .register-container {
        background: white;
        margin: 36px auto 0;
        padding: 44px 160px;
    }
}