@import "@/assets/style/common.scss";
.previewShare-inner-d {
    font-size: 14px;
    color: $common-blue;
    line-height: 20px;
    text-align: left;
    min-width: 700px;
    background-color: $bg-white;
    margin-top: 32px;
    border-radius: 6px;
    padding: 18px 29px;
    margin-bottom: 30px;
    .title-container{
        .title{
           font-size: 20px;
           color: black
        }
        .description{
           margin-left: 34px;
           font-size: 14px;
           color:rgb(154,154,154)
        }
        .right{
            color:white
        }
    }
    .operation {
     color:$common-blue;
     cursor: pointer;
    }
    .sptable{
       margin-top: 22px;
       .el-table th{
           background-color:rgb(247,247,247);
           border:none
           // background: rgb(245,245,245)
       }
       //修改element-ui hover颜色
       .el-table--enable-row-hover .el-table__body tr:hover>td{
           background-color: white !important;
       }
    }
    // .element-form{
        // }
    // }
  }

