@import "@/assets/style/common.scss";
.previewShare-inner-d {
    font-size: 14px;
    color: $common-blue;
    line-height: 20px;
    text-align: left;
    min-width: 700px;
    background-color: $bg-white;
    margin-top: 32px;
    border-radius: 6px;
    padding: 18px 29px;
    .title-container{
        .title{
           font-size: 20px;
           color: black
        }
        .description{
           margin-left: 34px;
           font-size: 14px;
           color:rgb(154,154,154)
        }
        .right{
            color:white
        }
    }
    .operation {
     color:$common-blue;
     cursor: pointer;
    }
    .sptable{
       margin-top: 22px;
       .el-table th{
           background-color:rgb(247,247,247);
           border:none
           // background: rgb(245,245,245)
       }
       //修改element-ui hover颜色
       .el-table--enable-row-hover .el-table__body tr:hover>td{
           background-color: white !important;
       }
       //elementui 表单
       .el-icon-success{
           color:rgb(9,186,6);
           font-size:26px;
           margin-right: 17px;
       }
       .add-pro-form,.select-qrcode-form{
           .el-dialog__body{
               padding: 15px 52px 0;
           }
       }
       .el-table__body-wrapper td{
           padding: 27px 0;
       }
       .export-success-form{
           .el-dialog__body{
               padding: 20px 20px 10px;
           }
       }
       .el-form-item__content{
           margin-left: 90px
       }
       // .add-pro-form{
           .el-input__inner{
               width: 224px;
           }
           .el-input{
               width: 224px;
           }
       // }
    }
  }

