.loginVerify {
    width: 90%;
    margin: 0 auto;
    min-width: 500px;
    max-width: 1600px;
    .register-container {
        background: white;
        margin: 36px auto 0;
        padding: 123px 160px;
        text-align: center;
        height: 550px;
    }
    .title{
        font-size: 24px;
    }
    .content{
        font-size: 16px;
        margin-top: 80px;
    }
}