.register-container-s2{
    min-height: 550px;
    .title {
        background: white;
        margin: 0 auto 36px;
        width: 30%;
        font-weight: 400;
        min-width: 330px;
        .now-step {
            font-size: 16px;
            color: $common-blue !important
        }
        .el-step__title.is-finish{
            color: $common-blue !important
        }
        .el-icon-circle-check-outline{
            font-size: 25px!important;
            color: $common-blue !important
        }
        .is-text{
            width: 22px;
            height: 22px;
        }
    }
    .down-container{
        font-size: 16px;
        text-align: center;
        padding-top: 75px;
        border-top:1px solid $common-border;
    }
    .submit{
        color: white;
        text-align: center; 
        .btn{
            background: $common-blue!important;
        }
    }
    .el-step__head.is-process {
        color: $common-blue!important;
        border-color: $common-blue!important;
    }
    .el-step__title.is-process{
        color:$common-blue!important;
    }
    .el-icon-circle-check-outline{
        font-size: 25px!important;
        color: $common-blue!important
    }
}

