.openScreenConfig{
    .modifyConfig{
        .previewShare-content {
            padding-top: 22px;
            .content-title{
                background: white;
                .title{
                    font-size: 20px;
                    padding-left: 0
                }
                .btns{
                    padding-right: 0
                }
            }
        }
    }
    .previewShare-inner-d{
        margin-bottom: 30px
    }
}
