@font-face {
    font-family: 'PingFang-SC-Regular';
    src: url("/static/font/PingFang-SC-Regular.ttf");
}  

@font-face {
    font-family: 'PingFang-SC-Bold';
    src: url("/static/font/PingFang-SC-Bold.ttf");
}  