@import "@/assets/style/common.scss";

.personNew {
  width: 100%;
  p {
    margin: 0;
  }
  .previewShare-inner {
    font-size: 14px;
    color: $common-blue;
    line-height: 20px;
    text-align: left;
    span {
      color: rgb(105, 105, 105);
    }
  }
  .previewShare-content {
    min-width: 870px;
    background-color: $bg-white;
    height: 779px;
    margin-top: 32px;
    border-radius: 6px;
    position: relative;
    .content-title {
      width: 808px;
      height: 56px;
      background-color: rgb(250, 251, 253);
      border-radius: 4px;
      position: absolute;
      left: 29px;
      top: 42px;
      margin-bottom: 36px;
      p {
        line-height: 56px;
        font-size: 14px;
        padding-left: 18px;
        float: left;
      }
      .btns {
        float: right;
        padding-right: 18px;
        padding-top: 12px;
        .el-button {
          width: 94px;
          height: 32px;
          border-radius: 2px;
          line-height: 10px;
        }
        .el-button--primary {
          background-color: $common-blue;
        }
      }
    }
    .content-content {
      width: 100%;
      padding-top: 134px;
      padding-left: 29px;
      .content-content-left {
        float: left;
        margin-right: 37px;
        width: 317px;
        height: 608px;
        .content-content-left-top {
          width: 100%;
          height: 564px;
          background-color: $bg-common;         
          position: relative;
          p {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 240px;
          }
        }
        .content-content-left-btn {
          font-size: 14px;
          text-align: center;
          margin-top: 22px;
          .el-icon-arrow-right {
            color: rgb(235, 235, 235);
            font-weight: 500;
            padding: 0 10px;
          }
          span {
            color: rgb(80, 124, 252);
          }
        }
      }
      
      .content-content-right {
        font-size: 14px;
        .benefit-list{
          margin-bottom: 20px;
        }
        .right-top {
          margin-bottom: 18px;
        }
        .right-title {
          margin-bottom: 12px;
        }
        .right-content {
          // width: 100%;
          p {
            display: inline-block;
            margin-bottom: 22px;
          }
          .first {
            color: rgb(186, 186, 186);
            margin-right: 54px;
          }
          .second {
            color: rgb(88, 88, 88);
            span {
              font-size: 13px;
              color: rgb(80, 124, 252);
            }
          }
          .second-coupon{
            margin-bottom: 3px;
          }
        }
      }
    }
  }
  .shareGiftButton{
      min-width: 94px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 18px;
      .el-button{
          width: 94px;
          height: 32px;
          padding:0;
          text-align: center;
          line-height: 32px;
          border: 1px solid rgb(165, 165, 165);
          box-sizing: border-box;
          font-weight: 400;
          color: rgb(0, 0, 0);
          &:first-child{
              color: white;
              background-color: $common-blue;
              margin-right: 14px;
          }
          &:last-child{
              margin: 0;
          }
      }
  }
}
