.openScreenAdvertisementAdd{
    .activeSettingIntegration{
        height: auto;
    }
    .activeSettingUpload{
        align-items: flex-start!important
    }
    .link{
        color:rgb(126,126,126)
    }
}