.openScreenAdvertisementAdd{
    .activeSettingSp{
        align-items: flex-start!important;
        height: auto;
        margin-top: 46px;
    }
    .link{
        color:rgb(126,126,126)
    }
    .pic-prompt{
        color: rgb(144,147,153);
    }
    .btn{
        margin-left: 0;
        margin-top: 12px
    }
}