.inventory-allPro{
    .qrcode-success-text{
        color:rgb(108,108,108);
        font-size: 14px;
    }
    .previewShare-inner-d {
        min-height: 733px;
    }
    // .previewShare-inner-d 
}