.register-container-s{
    .title {
        background: white;
        margin: 0 auto 36px;
        width: 30%;
        font-weight: 400;
        min-width: 330px;
        .now-step {
            font-size: 16px;
            color: $common-blue !important
        }
        .el-step__title.is-finish{
            color: $common-blue !important
        }
        .el-icon-circle-check-outline{
            font-size: 25px!important;
            color: $common-blue !important
        }
        .is-text{
            width: 22px;
            height: 22px;
        }
    }
    .down-container{
        padding-top: 65px;
        border-top:1px solid $common-border;
        .right{
            width: 90%;
            margin-left: 10%;
            text-align: center;
            span{
                color: $common-blue
            }
        }
    }
}




.left{
    min-width: 550px;
    width: 550px;
    .prompt{
        font-size: 14px;
        color:rgb(102,102,102);
        width: 320px;
        margin-left:7em;
    }
    .form-item{
        span{
            width: 5em;
        }
        .input{
            width: 320px;
            text-align: center
        }
        .btn{
            width: 110px;
            color:rgb(96,98,102)!important
        }
    }
    .last-form-item{
        margin-top: 50px;
        padding-bottom: 65px;
        border-bottom:1px solid $common-border;
    }
    .submit{
        margin-top: 17px;
        color: white;
        text-align: center; 
        .btn{
            background: $common-blue!important;
        }
    }
}